@import "../../variables";

.inputArea {
	max-width: calc(100% - 3rem);
	width: 100%;
	position: relative;
	margin-bottom: 1.5rem;
	&:first-child {
		margin-top: 1.5rem;
	}
	.floatingLabel {
		position: absolute;
		top: calc(50% - 0.5rem);
		left: 0.5rem;
		color: gray;
		letter-spacing: 1px;
		transition: 0.2s ease all;
	}
	input,
	.formButton,
	textarea {
		border: 1px solid #ccc;
		border-radius: 0.25rem;
		background: rgba(255, 255, 255, 0.9);
		width: -webkit-fill-available;
		height: 2.5rem;
		padding: 0.5rem 0.75rem;
		transition: 0.4s;
		font-size: 1.125rem;
		&[type="date"] {
			align-items: center;
			padding-inline-start: 30%;
		}
	}
	textarea {
		height: 6rem;
		margin-bottom: -2px;
	}
	.formButton {
		cursor: pointer;
		border: 1px solid #ccc;
			text-align: center;
			color: #ffffff;
			font-weight: 700;
			background-color: $secondary-font-color;
		&:disabled {
			background-color: $secondary-disabled;
		}
	}
}

.effect ~ .focusBorder:before,
.effect ~ .focusBorder:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 2px;
	border-radius: 0.25rem;
	background-color: $secondary-font-color;
	transition: 0.3s;
}

.effect ~ .focusBorder:after {
	top: auto;
	bottom: 0;
	left: auto;
	right: 0;
}

.effect ~ .focusBorder i:before,
.effect ~ .focusBorder i:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 0;
	background-color: $secondary-font-color;

	transition: 0.4s;
}

.effect ~ .focusBorder i:after {
	left: auto;
	right: 0;
	top: auto;
	bottom: 0;
}

.effect:focus ~ .focusBorder:before,
.effect:focus ~ .focusBorder:after {
	width: 100%;
	transition: 0.3s;
}

.effect:focus ~ .focusBorder i:before,
.effect:focus ~ .focusBorder i:after {
	height: 100%;
	transition: 0.4s;
}

.effect ~ input::placeholder,
.effect ~ textarea::placeholder {
	position: absolute;
	left: 14px;
	width: 100%;
	top: 10px;
	font-size: 1.125rem;
	color: #aaa;
	transition: 0.3s;
	z-index: -1;
	letter-spacing: 0.5px;
}

.effect:focus ~ input::placeholder,
.effect:focus ~ textarea::placeholder {
	top: -18px;
	left: 0;
	font-size: 12px;
	color: $secondary-font-color;
	transition: 0.3s;
}

input:focus ~ .floatingLabel,
input:not(:focus):valid ~ .floatingLabel,
textarea:focus ~ .floatingLabel,
textarea:not(:focus):valid ~ .floatingLabel {
	top: -1rem;
	left: 0.5rem;
	font-size: 0.725rem;
	color: $secondary-font-color;
	opacity: 1;
}
.narrow {
	width: calc(50% - 1.5rem);
}
