@import '../../variables.scss';

.mainContainer {
    height: 100%;
    width: 100%;
}

.mainList {
    max-width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    background-image: url("../../assets/images/vacationsOpacity.jpg");
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
