$basic-font-size: 14px;
$basic-font-color: #0a0521;
$secondary-font-color: #5843be;
$secondary-disabled: #887cc2;
$basic-gray-color: #8e9294;
$shadow-color: #9793AF8A;
$small-gap: 1.25rem;
$large-gap: 1.5rem;
$small-form-width: 444px;
$large-form-width: 600px;